<div style="width: 100%" id="download_plot"></div>
<div style="width: 100%" id="cdf_plot"></div>

<script>
    window.onload = async function() {
  
        // Build cdf plot
        try {
            const cdf_spec_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/resources/cdf.vl.json")
            const cdf_spec = await cdf_spec_resp.json();
            const cdf_data_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/cdf.json")
            const cdf_plot_data = await cdf_data_resp.json();
            const point_data_resp = await fetch(`https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/${package}/cdf.json`)
            const single_point = await point_data_resp.json();
  
            cdf_spec.data.values = cdf_plot_data;
            cdf_spec.data.values.push(single_point.pop());
            vegaEmbed('#cdf_plot', cdf_spec);
        } catch (err) {
            console.error(err)
        }
  
        // Build download plot
        try {
            const spec_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/resources/versions.vl.json")
            const spec = await spec_resp.json();
            const version_data_resp = await fetch(`https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/${package}/versions.json`)
            const plot_data = await version_data_resp.json();
            spec.data.values = plot_data;
            vegaEmbed('#download_plot', spec);
        } catch (err) {
            console.error(err)
        }
  
    }
</script>
