<div style="width: 100%" id="download_plot"></div>
<div style="width: 100%" id="platform_plot"></div>
<div style="width: 100%" id="cdf_plot"></div>

<script>
    window.onload = async function() {
  
        // Build cdf plot
        try {
            const cdf_spec_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/resources/cdf.vl.json")
            if (!cdf_spec_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${cdf_spec_resp.status}.`);
            }
            const cdf_spec = await cdf_spec_resp.json();
            const cdf_data_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/cdf.json")
            if (!cdf_data_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${cdf_data_resp.status}.`);
            }
            const cdf_plot_data = await cdf_data_resp.json();
            const point_data_resp = await fetch(`https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/${package}/cdf.json`)
            if (!point_data_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${point_data_resp.status}.`);
            }
            const single_point = await point_data_resp.json();
  
            cdf_spec.data.values = cdf_plot_data;
            cdf_spec.data.values.push(single_point.pop());
            vegaEmbed('#cdf_plot', cdf_spec);
        } catch (err) {
            console.error("An error occurred while building CDF plot: ", err)
        }
  
        // Build download plot
        try {
            const spec_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/resources/versions.vl.json")
            if (!spec_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${spec_resp.status}.`);
            }
            const spec = await spec_resp.json();
            const version_data_resp = await fetch(`https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/${package}/versions.json`)
            if (!version_data_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${version_data_resp.status}.`);
            }
            const plot_data = await version_data_resp.json();
            spec.data.values = plot_data;
            vegaEmbed('#download_plot', spec);
        } catch (err) {
            console.error("An error occurred while building downloads plot: ", err)
        }

        // Build platform download plot
        try {
            const spec_resp = await fetch("https://raw.githubusercontent.com/bioconda/bioconda-plots/main/resources/platforms.vl.json")
            if (!spec_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${spec_resp.status}.`);
            }
            const spec = await spec_resp.json();
            const platform_data_resp = await fetch(`https://raw.githubusercontent.com/bioconda/bioconda-plots/main/plots/${package}/platforms.json`)
            if (!platform_data_resp.ok) {
                throw new Error(`Fetching failed with HTTP code ${platform_data_resp.status}.`);
            }
            const plot_data = await platform_data_resp.json();
            spec.data.values = plot_data;
            vegaEmbed('#platform_plot', spec);
        } catch (err) {
            console.error("An error occurred while building platform downloads plot: ", err)
        }
  
    }
</script>
